{% for post in paginator.results %}
    <tr {% if loop.index % 2 == 0 %} style="background-color: lightgrey"{% endif %}>
        <td>{{ post.title }}</td>
        <td>{{ post.author.username }}</td>
        <td>{{ post.publishedAt | date('l jS F, Y') }} </td>
        <td>
            <span>  <a class="icn__view" href="{{ path('edit_post', {'id':post.id}) }}"></a></span>
        </td>
        <td>
            <span> <a class="icn__delete" href="{{ path('admin_delete_post', {'id' : post.id}) }}"></a></span>
        </td>
    </tr>
{% endfor %}