{% extends 'base.html.twig' %}

{% block body %}
    <section class="s-pageheader s-pageheader--home">
        {% include 'header.html.twig' %}
        <div class="pageheader-content row">
            <div class="col-full">
                <div class="featured">
                    <div class="featured__column featured__column--big">
                        {% set mainPost = featuredPosts|first %}
                        <div class="entry" style="background-image:url('{{ mainPost.headerImage }}');">

                            <div class="entry__content">
                                <span class="entry__category"><a
                                            href="{{ path('index', {'category' : mainPost.category}) }}">{{ mainPost.category }}</a></span>

                                <h1><a href="{{ path('view_post', {'slug': mainPost.slug}) }}"
                                       title="">{{ mainPost.title }}</a></h1>

                                <div class="entry__info">
                                    <span class="entry__profile-pic">
                                        <img class="avatar" src="/images/avatars/user-03.jpg" alt="">
                                    </span>

                                    <ul class="entry__meta">
                                        <li>{{ mainPost.author.username }}</li>
                                        <li>{{ mainPost.publishedAt | date("d F, Y") }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->
                    {% for item in featuredPosts|slice(1) %}
                        <div class="featured__column featured__column--small">
                            <div class="entry"
                                 style="background-image:url('{{ item.headerImage }}');">
                                <div class="entry__content">
                                    <span class="entry__category"><a
                                                href="{{ path('index', {'category' : item.category}) }}">{{ item.category }}</a></span>

                                    <h1><a href="{{ path('view_post', {'slug' : item.slug}) }}"
                                           title="">{{ item.title }}</a></h1>

                                    <ul class="entry__meta">
                                        <li>{{ item.author.username }}</li>
                                        <li>{{ item.publishedAt | date("d F, Y") }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    {% endfor %}
                </div> <!-- end featured -->
            </div>
        </div>

    </section>


    <!-- s-content
    ================================================== -->
    <section class="s-content" id="babyContentSection">
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                {% if paginator.numResults > 0 %}
                    {% include 'standardArticle.html.twig' with {'post' : paginator.results |first }  only %}
                {% endif %}

                <article class="masonry__brick entry format-quote" data-aos="fade-up">

                    <div class="entry__thumb">
                        <blockquote>
                            <p>Good design is making something intelligible and memorable. Great design is making
                                something memorable and meaningful.</p>

                            <cite>Dieter Rams</cite>
                        </blockquote>
                    </div>

                </article> <!-- end article -->

                {% for post in featuredPosts | slice(1,2) %}
                    {% include 'standardArticle.html.twig' with {'post' : post }  only %}
                {% endfor %}

                {% for post in paginator.results | slice(1,6) %}
                    {% include 'standardArticle.html.twig' with {'post' : post }  only %}
                {% endfor %}

                <article class="masonry__brick entry format-link" data-aos="fade-up">

                    <div class="entry__thumb">
                        <div class="link-wrap">
                            <p>The Only Resource You Will Need To Start a Blog Using WordPress.</p>
                            <cite>
                                <a target="_blank" href="https://colorlib.com/">https://colorlib.com</a>
                            </cite>
                        </div>
                    </div>

                </article> <!-- end article -->

                {% for post in paginator.results | slice(6) %}
                    {% include 'standardArticle.html.twig' with {'post' : post }  only %}
                {% endfor %}

            </div>
        </div>

        {% include 'paginator.html.twig' with {'paginator': paginator, 'pathName' : 'index'} only %}
    </section>

    {% include 'extraSection.html.twig' with {'featuredPosts' : featuredPosts, 'tags' : tags} %}
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('load', () => {
            const currentLocation = window.location.href;
            const basePattern = 'https://localhost:8000/';
            const filteredString = currentLocation.replace(basePattern, '');

            if (filteredString !== '') {
                window.scroll({
                    top: 950,
                    left: 0,
                    behavior: "smooth"
                })
            }
        })
    </script>
{% endblock %}