<article class="masonry__brick entry format-standard" data-aos="fade-up">

    <div class="entry__thumb">
        <a href="{{ path('view_post', {'slug' : post.slug}) }}" class="entry__thumb-link">
            <img src="{{ post.headerImage }}" alt="">
        </a>
    </div>

    <div class="entry__text">

        <div class="entry__header">
            <div class="entry__date">
                <p>{{ post.publishedAt | date("d F, Y") }}</p>
            </div>
            <h1 class="entry__title"><a href="{{ path('view_post', {'slug' : post.slug}) }}">{{ post.title }}</a></h1>
        </div>

        <div class="entry__excerpt">
            <p>
                {{ post.abstract }}
            </p>
        </div>

        <div class="entry__meta">
            <span class="entry__meta-links">
                {% for tag in post.tags %}
                    <a href="{{ path('index', {'tag' : tag.name}) }}">{{ tag.name }}</a>
                {% endfor %}
                <a href="{{ path('index', {'category' : post.category}) }}">{{ post.category }}</a>
            </span>
        </div>

    </div>

</article> <!-- end article -->
